* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #2c3e50;
    width: 100%;
}

.header-content {
    background-color: red;
    border: 1px solid black;
    height: 75px;
}

.jumbo-content {
    background-color: blue;
    border: 1px solid black;
    height: 300px;
}

.jumbo {
    background-color:  #1abc9c;
    width: 100%;
}

.content {
    background-color: green;
    border: 1px solid black;
    height: 150px;
}


.section-1 {
    background-color: #2c3e50;
    width: 100%;
}

.section-2 {
    background-color: #1abc9c;
    width: 100%;
}

.section-3 {
    background-color: white;
    width: 100%;
}